<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">

    <!-- 查询ids中的菜品是否关联了setmeal，如果大于0，则有关联，不允许删除 -->
    <select id="countByDishIds" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM setmeal_dish WHERE dish_id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
              #{id}
            </foreach>
    </select>
</mapper>
